<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__content footer__content_logo">
                <a href="#" class="footer__logo-wrap">
                    <img src="./img/icon-logo.svg" alt="Logo" width="" height=""/>
                    <span class="footer__logo-text">joysteka</span>
                </a>
            </div>
            <div class="footer__content-list">
                <div class="footer__content">
                    <h4 class="footer__content-title">
                        Навигация
                    </h4>
                    <ul class="footer__nav">
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Главная</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Каталог</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Новости</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__content">
                    <h4 class="footer__content-title">
                        Информация
                    </h4>
                    <ul class="footer__nav">
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">О нас</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Агенствам</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Отзывы</a></li>
                        <li class="footer__nav-item"><a href="" class="footer__nav-link">Условия аренды</a></li>
                    </ul>
                </div>
                <div class="footer__content">
                    <h4 class="footer__content-title">
                        Коммуникация
                    </h4>
                    <p class="footer__content-text">
                        Адрес: ул. Какаято 12
                    </p>
                    <p class="footer__content-text footer__content-text-phone">
                        Телефоны
                    </p>
                    <a href="tel:+38 (099) 999 99 99" class="footer__content-text-link">
                        +38 (099) 999 99 99
                    </a>
                    <a href="tel:+38 (099) 999 99 99" class="footer__content-text-link">
                        +38 (099) 999 99 99
                    </a>
                    <a href="tel:+38 (099) 999 99 99" class="footer__content-text-link">
                        +38 (099) 999 99 99
                    </a>
                </div>
                <div class="footer__content">
                    <h4 class="footer__content-title">
                        Соцсети
                    </h4>
                    <div class="footer__social-wrap">
                        <a href="#" class="footer__social-link-wrap">
                            <img src="./img/icon-instagram.svg" alt="Instagram" width="" height=""/>
                            <span class="footer__social-link-text">@joysteka</span>
                        </a>
                        <a href="#" class="footer__social-link-wrap">
                            <img src="./img/icon-facebook.svg" alt="Facebook" width="" height=""/>
                            <span class="footer__social-link-text">@joysteka</span>
                        </a>
                        <a href="#" class="footer__social-link-wrap">
                            <img src="./img/icon-youtube.svg" alt="Youtube" width="" height=""/>
                            <span class="footer__social-link-text">@joysteka</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>