@import "./variables";

.button {
  width: 100%;
  max-width: 192px;
  display: inline-block;
  padding: 4px 16px;
  background-color: $white;
  border: 1px solid $white;
  color: $primary;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.1s;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    border: 1px solid #c0c0c0;
  }

  &_small {
    max-width: 63px;
    font-size: 14px;
    padding: 4px 18px;
  }

  &_middle {
    max-width: 199px;
    font-size: 32px;
    line-height: 32px;
    padding: 12px 24px;
  }

  &_light {
    font-size: 14px;
    font-weight: 300;
  }
}
