@import "./base/variables";

.footer {
  border: 1px solid $white;
  background: rgba(255, 255, 255, 0.5);
  padding: 28px 0;

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include md {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo-wrap {
    display: block;
    text-align: center;
    @include sm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 128px;
      height: 128px;
      margin-bottom: 5px;
    }
  }

  &__logo-text {
    color: $primary;
    font-family: $secondary-family;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__content-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    @include md {
      width: 100%;
      flex-wrap: wrap;
      .footer__content {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__content-title {
    margin-bottom: 22px;
  }

  &__nav-item {
    margin-bottom: 16px;
    @include xs {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav-link {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
    transition: 0.1s;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    width: 20%;
    margin-right: 69px;
    @include lg {
      margin-right: 50px;
    }
    @include md {
      width: 25%;
      margin-right: 0;
    }
    @include sm {
      width: 50%;
      margin-bottom: 30px;
    }
    @include xs {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &_logo {
      margin-right: 69px;
      margin-bottom: 30px;
      @include md {
        margin-right: 0;
      }
    }
  }

  &__content-text {
    margin-bottom: 16px;
  }

  &__content-text-phone {
    margin-bottom: 8px;
  }

  &__content-text-link {
    display: block;
    @extend .footer__nav-link;
    transition: 0.1s;
    margin-bottom: 8px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__social-wrap {
    display: flex;
    flex-direction: column;
  }

  &__social-link-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__social-link-text {
    @extend .footer__nav-link;
  }
}